

.module-base.base-dashboard-controller {
	
	.widget-item-content-webmail-mailbox-widget {
		
		.th-folder-from-subject, .td-folder-from-subject { display: none; }
		
		@media (max-width: 768px) {
			.th-folder-from-subject, .td-folder-from-subject {
				display: block;
				
				.folder { float: left; margin-right: 5px; }
				
				.date { float: right; }
				.action  { float: right; margin-right: 10px; }
			}
			
			.th-folder, .th-from, .th-subject
			, .td-folder, .td-from, .td-subject
			, .th-action, .td-action
			, .th-date, .td-date { display: none; }

		}
	}
	
	
}




// outbox
.webmail-view-controller {
	form.form-email-form {
		[name=subject] {
			width: 508px;
		}
		
		[name=text_content] { height: 100vh; }
	}
}


// tab under customers (Company/Person)
.tab-mailbox-container {
	.toolbox {
		margin: 3px 10px 0 0;
		a { font-size: 17px; }
	}
}

.form-mail-tab-settings-form {
	.submit-container { display: none; }
}

.widget-item-content-webmail-mailbox-widget {
	.list-response-table {
		tr.unseen { font-weight: bold; }
		
		td { padding-right: 5px; }
	}
}


// Mailbox search
.webmail-search-controller {
	
	.facet-filter-item-container {
		margin-top: 5px;
	}
	.facet-header {
		font-weight: bold;
	}
	
	#emailheader-table-container {
		.webmail-mail-status { min-width: 20px; }
		tbody tr.unseen { font-weight: bold; }
		
		td.td-props { padding: 0 5px; }
	}
	
	.form-mailbox-search-settings-form .submit-container { display: none; }
}

.action-box.mail-actions {
	padding: 10px 0 0;
	overflow-y: auto;
	
	span {
		float: left;
		margin-right: 10px;
		
		button, input[type=button] { margin-top: 2px; }
	}
	.mark-as-spam span.mark-as-spam
	, .delete-mail span.delete-mail {
		margin: 4px 0 3px;
	}
	
	.mail-reply, .mail-forward {
		 float: right;
		span { position: relative; top: 5px; margin-right: 3px; }
	}
}



