

.tab-mailbox-container {
	
	.toolbox {
		margin: 3px 10px 0 0;
		a { font-size: 17px; }
	}
}

.form-mail-tab-settings-form {
	
	.submit-container { display: none; }
	
}

.webmail-search-controller {
	#mail-content .action-box {
		display: none;
		padding: 10px 0 0;
	}
	
	.form-mailbox-search-settings-form .submit-container { display: none; }
}