

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 90001;
	box-shadow: 0px 3px 3px 0px #ccc;
	
	display: none;
	
	@media (min-width: 767px) {
		display: block;
	}
	

	/* notifications bar */
	.notifications-bar {
		padding: 8px 5px;
		font-size: 16px;
		width: 100%;
		background-color: #f00;
		
		 a { color: #fff; font-size: 18px; }
		> .administration-name {
			padding: 5px 0 5px;
			.administration-name a { margin-left: 8px; }
		}
		a:hover { text-decoration: none; }
		.current-user {
			padding: 5px 0;
			display: block;
			float: left;
			margin-right: 15px; font-size: 18px; color: #fff;
		}
		.action-items {
			float: right;
			a {
				float: left;
				display: block;
				padding: 10px 10px 8px;
				border-left: 1px solid rgba(255, 255, 255, 0.6);
			}
		}
		.notifications-right {
			float: right;
		}
		
	}
}
