
config/config-local.php


# Eclipse settings
.project
.settings
.buildpath

# Php Composer
vendor/
composer.lock
composer.phar

# Nodejs
node_modules/
bower_components/
package-lock.json

# generated on deployment
www/css/less/style.css


