

@import "../settings.less";


// base-less forms


.form-generator {

	label {
		float: left;
		width: 200px;
		@media (max-width: @pxMobileBreak) {
			float: none;
			width: auto;
			display: block;
			margin-bottom: 0;
		}
	}
	.widget.textarea-field-widget {
		label {
			float: none;
			margin-bottom: 3px;
		}
	}
	
	input, select {
		max-width: 100%;
	}

	&.form-readonly {
		.add-entry-container { display: none; }
		th.actions, td.actions { display: none; }

		.sortable-cell { display: none; }
		.handler-sortable { visibility: hidden; }
	}

	.sortable-cell { width: 22px; }

	div.widget {
		clear: both;
		@media (max-width: @pxMobileBreak) {
			margin-bottom: 10px;
		}
	}

	.error input[type=text], .error input[type=password], .error input[type=tel], .error input[type=email], .error select {
		border: 1px solid #f00;
	}

	.dynamic-select-field-widget > span.select2 { min-width: 200px; }

	.list-form-widget {
		margin-bottom: 1.8em;

		h2 {
			display: none;
			font-size: 20px;
			font-weight: bold;
			border: 1px solid #eee;
			margin: 0;
			padding-left: 5px;
			background-color: #eee;
		}

		.add-entry-container {
			border: 1px solid #e7e7e7;
			padding-left: 5px;
			a { font-size: @defaultFontSize; }
		}

		.empty-list:hover {
			cursor: auto;
		}
	}

	.list-edit-form-widget {
		label { display: none; }
		
		label.checkbox-ui-placeholder {
			display: block;
			top: -1px;
		}

		.add-entry-container.action-box {
			margin: 15px 0 30px 0px;
			span { margin-right: 0.5em; }
		}
		
		tr.no-results { display: none; }
		tr.no-results:only-child {
			display: table-row;
			td {
				text-align: center;
				font-style: italic;
				padding: 10px 0;
			}
		}
		
		// checkbox placeholder not working in a list-edit-form-widget
		.checkbox-ui-container {
			>input[type=checkbox] {
				position: inherit;
				opacity: 1;
			}
			label.checkbox-ui-placeholder { display: none; }
		}
	}
	
	.list-edit-div-form-widget {
		border: 1px solid #ccc;
		margin-right: 10px;
		.list-edit-div-header {
			display: flex;
			flex-direction: row;
			background-color: #eee;
			font-weight: bold;
		}
		
		.list-edit-div-widget-record {
			.list-edit-div-record {
				display: flex;
				flex-direction: row;
				
				.td-sortable, .action { visibility: hidden; }
				
				&:nth-child(1) .td-sortable
				, &:nth-child(1) .action { visibility: visible; }
				
			}
			label { display: none; }
			
			div.action {
				padding: 4px 10px 0 5px;
			}
		}
		
		.div-sublist-footer {
			.list-footer-line {
				display: flex;
				flex-direction: row;
				background-color: #eee;
				font-weight: bold;
			}
		}
	}
	
	
	
	
	
	
	.widget.image-selector-field {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			
			li {
				float: left;
				padding: 0 10px;
				cursor: pointer;
				
				&:hover {
					background-color: #eee;
				}
			}
		}
		img {
			width: auto;
			height: auto;
			max-width: 100px;
			max-height: 100px;
		}
		
		.selected {
			background-color: #eee;
		}
	}

	&.form-object-locked {
		.datepicker-field-widget {
			.prev-month, .next-month { display: none; }
		}
		.customer-id-widget {
			a { display: none; }
		}
		
		.filesync-select-field-buttons { display: none; }
		.list-edit-form-widget {
			td.action a { display: none; }
			.add-entry-container { display: none; }
		}
		.submit-container { display: none; }
	}
	
	
	div.widget {
		.ui-autocomplete {
			top: auto;
			left: 257px;
			font-size: 13px;
		}
	}
	
}

.widget {
	&.textarea-field-widget {
		textarea {
			width: 50%;
			height: 75px;
			display: block;
			clear: both;
		}
	}
	
	&.week-field-widget
	, &.year-field-widget {
		option.current-week
		, option.current-year { font-weight: bold; }
	}
	
	&.radio-field-widget {
		label.radio-ui-placeholder { float: left !important; margin-right: 5px; }
		.widget-text { width: auto; margin-right: 15px; }
	}

	&.widget-container-ips
	, &.widget-container-user-groups {
		clear: both;
		margin-top: 10px;
		
		.core-forms-checkbox-field {
			display: flex;
			label {
				order: 5;
			}
			label.checkbox-ui-placeholder {
				order: 1;
				margin-right: 5px;
			}
		}
		
	}

	&.widget-container-user-capabilities {
		clear: both;
		margin-top: 10px;
		
		.core-forms-checkbox-field {
			display: flex;
			label {
				order: 5;
			}
			label.checkbox-ui-placeholder {
				order: 1;
				margin-right: 5px;
			}
		}
		
		label {
			width: 250px;
		}
		label.checkbox-ui-placeholder { float: none; }
//		input[type=checkbox] { float: left; position: relative; top: 5px; }
	}
	
	&.color-picker-field-widget {
		input[type=text] {
			width: 100px;
			padding-left: 22px;
		}
		.color-selection-container {
			float: left;
		}
		.color-picker-color-sample {
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			margin: 10px 0 0 5px;
			background-color: #fff;
		}
	}



	/* input field with reset-button */
	.reset-field-button {
		padding-right: 20px;
	}
	.reset-field-button.reset-field-cross:not([disabled]):not([readonly]):hover {
		background-image: url('../../images/icon-red-cross.png');
		background-repeat: no-repeat;
		background-size: 13px 13px;
		background-position: calc(100% - 3px) 6.5px;
	}


	&.widget-copy-to-clipboard .fa-copy {
		color: #888;
	}
	
	&.span-textarea-field {
		div.input {
			display: block;
			border: 1px solid #696969;
			padding: 2px 4px;
			min-height: 75px;
		}
	}
}

.tinymce-field-widget {
	label {
		float: none;
		width: auto;
	}
	textarea {
		height: 250px;
	}
}

.upload-field-widget {
	ul {
		li .remove-file { display: none; color: #f00; }
		li:hover .remove-file { display: inline; }
	}
}

.table-container {
	td {
		label { display: none; }
		label.checkbox-ui-placeholder { display: block; }
		
		padding-right: 10px;
	}
}

.errors {
	background-color: #fcffe5;
	border: 1px solid #d3d3d3;
	color: #f00;
	font-style: italic;

	padding: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
	
	.error-close-container {
		display: none;
		float: right;
		a {
			color: #ff9a9a;
			text-decoration: none;
			&:hover { color: #f00; }
		}
	}
	&:hover {
		.error-close-container { display: block; }
	}

	ul {
		margin: 0;
		padding: 0 0 0 25px;
		li {
			margin: 0;
			padding: 0;
		}
	}
}

.popup-container-visible .select2-container { z-index: 99000; }
.popup-container-visible .main-content .select2-container { display: none; }

.week-field-prev-option
, .week-field-next-option
, .month-field-prev-option
, .month-field-next-option
, .year-field-prev-option
, .year-field-next-option {
	padding: 5px;
	font-size: 22px !important;
	font-weight: bold !important;
	position: relative;
	top: 5px;
}
.week-field-prev-year-option
, .month-field-prev-year-option
{
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.week-field-next-year-option
, .month-field-next-year-option {
	margin-left: 5px;
	position: relative;
	top: 3px;
}
.week-field-prev-option
, .month-field-prev-option
, .year-field-prev-option { padding-left: 0; }

.handler-sortable {
	cursor: pointer;
}
