


.filesync-storefile-controller {
	&.action-index-archive {
		
		td.td-document-date { white-space: nowrap; padding-right: 10px; }
	}
}


.form-archive-file-upload-form {
	label { width: 140px; }
	.widget.textarea-field-widget textarea { width: 100%; }
	[name=subject] { width: calc(100% - 180px); }
}
.form-filesync-archive-settings-form {
	.submit-container { display: none; }
}



.pagequeue-index-container {
	display: flex;
	columns: 2;
	
	#page-table-container { min-width: 25%; }
	#page-editor-container {
		.submit-container { display: none; }
		
		padding: 0 10px;
	}
	
	
	#page-selection-container {
		padding: 0 10px;
		
		ul.selected-files {
			width: 300px;
			margin: 0;
			padding-left: 0;
			
			li {
				display: block;
				list-style: none;
				background-color: #eee;
				padding: 5px;
			}
			li:nth-child(odd) {
				background-color: #f3f3f3;
			}
			
			.fa-sort { padding: 5px 6px 5px 2px; position: relative; top: 2px; }
			.fa-remove { float: right; position: relative; top: 3px; padding: 3px; }
		}
		
		.action-container { margin-top: 15px; }
	}
}



.filesync-select-widget {
	
	.filesync-select-field-buttons { text-align: center; }
	
}


