


.pagequeue-index-container {
	display: flex;
	columns: 2;
	
	#page-table-container { min-width: 25%; }
	#page-editor-container {
		.submit-container { display: none; }
		
		padding: 0 10px;
	}
}

