


.form-fail2ban-settings-form {
	
	[name=fail2ban__max_attempts_ip]
	, [name=fail2ban__max_attempts_network]
	, [name=fail2ban__max_attempts_ip_timespan]
	, [name=fail2ban__max_attempts_network_timespan] {
		width: 100px;
	}
	
	.fail2ban-enabled-widget {
		overflow: auto;
	}
	
	.widget-field-set-container {
		clear: both;
		margin-top: 15px;
	}
}

