
.base-dashboard-controller {

    #grid-stack {
        margin: 0 -5px;

        >.grid-stack-item>.grid-stack-item-content {
            padding: 0;
            left: 5px;
            right: 5px;
            border-style: solid;
        }

		.grid-stack-item-content.widget-item-content {
			overflow-x: auto;
		}
    }

}
