
.base-dashboard-controller {

    #grid-stack {
        margin: 0 -5px;

        >.grid-stack-item>.grid-stack-item-content {
            padding: 0;
            left: 5px;
            right: 5px;
			border-style: none solid solid solid;
			border-color: #ccc;
			width: 100%;
        }
		
		
		.ui-resizable-handle {
			opacity: 0.3;
		}


    }

}
