


.codegen-formgenerator-controller {
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	&.action-index {
		
		#widget-info {
			width: 100%;
			padding: 0 5px 5px 5px;
			margin-top: 15px;
			border: 1px solid #ccc;
			
			label {
				display: block;
				float: none;
				width: auto;
			}
			
			textarea { max-width: 100%; width: 95%; }
			
			.submit-container { display: none; }
			
		}
		
		.form-preview {
			.submit-container { display: none; }
		}
		
	}
	
	
}

