


.codegen-formgenerator-controller {
	
	&.action-index {
		
		#widget-info {
			width: 150px;
			
			label {
				display: block;
				float: none;
				width: auto;
			}
			.submit-container { display: none; }
		}
		
	}
	
	
}

