<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<rewrite>
			<rules>
				<rule name="Herschrijven">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="start.php" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.htm" />
				<add value="index.php" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>