


.payment-payment-overview-controller.action-index {
	
	table.list-response-table  {
		tr.cancelled {
			
			color: #f00;
			background-color: #ffc8c8;
			
		}
	}
	
}


.form-payment-form {
	input[name=description] { width: 400px; }
	
	.list-edit-widget-payment-lines {
		td.input-payment-method-id select { width: 150px; }
		td.input-description1 input[type=text] { width: 350px; }
		td.input-amount input[type=text] { width: 100px; }
	}
}



.form-payment-import-form {
	.submit-container { margin-top: 20px; }
}

