


#payment-overview-table-container {
	
	table.list-response-table  {
		td { vertical-align: top; }
		tr.cancelled {
			
			color: #f00;
			background-color: #ffc8c8;
			
		}
	}
	
}


.form-payment-form {
	input[name=description] { width: 400px; }
	
	.list-edit-widget-payment-lines {
		td.input-payment-method-id select { width: 150px; }
		td.input-description1 input[type=text] { width: 350px; }
		td.input-amount input[type=text] { width: 100px; }
	}
}



.form-payment-import-form {
	.submit-container { margin-top: 20px; }
}


.module-payment {
	.payment-import-table {
		td, th { vertical-align: top; }
		
		.amount {
			text-align: right;
			padding-right: 10px;
		}
	}
}






