

.form-report-dashboard-form {
	
	
	.widget-container-container-base {
		display: flex;
		flex-direction: row;
		
		.widget-container-container-left {
			flex-grow: 1;
			width: 50%;
		}
		.widget-container-container-right {
			flex-grow: 1;
			width: 50%;
			
			.widget-container-forms span.value {
				clear: both;
				display: block;
				
				li {
					cursor: pointer;
				}
			}
		}
	}
	
	
	
}